samples/device-sample/quickstart.json
[{
	"id": "41e935d1.d2619c",
	"type": "inject",
	"z": "d100b337.680e88",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "5",
	"crontab": "",
	"once": true,
	"x": 205,
	"y": 178.5,
	"wires": [["8332d581.5c7d58"]]
},
{
	"id": "8332d581.5c7d58",
	"type": "exec",
	"z": "d100b337.680e88",
	"command": "vcgencmd",
	"addpay": false,
	"append": "measure_temp",
	"useSpawn": "",
	"name": "getCPUtemp",
	"x": 422,
	"y": 257,
	"wires": [["8508a722.f6e4c8",
	"975b7227.de75a8"],
	[],
	[]]
},
{
	"id": "8508a722.f6e4c8",
	"type": "debug",
	"z": "d100b337.680e88",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "payload",
	"x": 711,
	"y": 177,
	"wires": []
},
{
	"id": "975b7227.de75a8",
	"type": "function",
	"z": "d100b337.680e88",
	"name": "msg.payload",
	"func": "msg.payload = {\"d\":{\"temp\":msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\")}};\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 472,
	"y": 363.5,
	"wires": [["8508a722.f6e4c8",
	"ec819393.e13098"]]
},
{
	"id": "ec819393.e13098",
	"type": "wiotp out",
	"z": "d100b337.680e88",
	"authType": "d",
	"qs": "true",
	"qsDeviceId": "e1f1bfcf.0fae18",
	"deviceKey": "",
	"deviceType": "",
	"deviceId": "",
	"event": "event",
	"format": "json",
	"name": "",
	"x": 811,
	"y": 303,
	"wires": []
}]
