samples/EnOcean_NodeRed_Json/getProfile.json
[{"id":"777f47d8.7fae8","type":"ibmiot out","z":"796bd9fa.a87958","authentication":"apiKey","apiKey":"d7abf7c8.716d78","outputType":"cmd","deviceId":"id","deviceType":"type","eventCommandType":"cmd","format":"json","data":"{\"d\":\"D\"}","name":"IBM IoT","service":"registered","x":586.5,"y":424,"wires":[]},{"id":"f9d4e553.c39c8","type":"function","z":"796bd9fa.a87958","name":"get permundo profile","func":"msg.deviceId = \"myPlug\";\nmsg.deviceType = \"D2-01-09\";\nmsg.eventOrCommandType = \"profile\";\n//msg.command_id = \"state\";\nmsg.payload = JSON.stringify({\"data\":\"data\"});\nreturn msg;","outputs":1,"noerr":0,"x":347,"y":425,"wires":[["777f47d8.7fae8"]]},{"id":"9eaa0ccf.d26938","type":"inject","z":"796bd9fa.a87958","name":"Initiate","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109,"y":424,"wires":[["f9d4e553.c39c8"]]},{"id":"d7abf7c8.716d78","type":"ibmiot","z":"796bd9fa.a87958","name":"9gznai"}]