samples/EnOcean_NodeRed_Json/setState.json
[{"id":"1c511fb3.1747d8","type":"inject","z":"796bd9fa.a87958","name":"Turn On","topic":"","payload":"{\"d\":{\"states\":{\"dimValue\":{\"value\":\"90\"}}}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":111,"y":207,"wires":[["54a5e3ce.19d2c4"]]},{"id":"54a5e3ce.19d2c4","type":"function","z":"796bd9fa.a87958","name":"set permundo properties","func":"msg.deviceId = \"myPlug\";\nmsg.deviceType = \"D2-01-09\";\nmsg.eventOrCommandType = \"state\";\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":253,"wires":[["777f47d8.7fae8"]]},{"id":"383a2d1b.813eb2","type":"inject","z":"796bd9fa.a87958","name":"Turn Off","topic":"","payload":"{\"d\":{\"states\":{\"dimValue\":{\"value\":\"0\"}}}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":109,"y":278,"wires":[["54a5e3ce.19d2c4"]]}]