samples/BB-8-flows/bluemix-application-flow.txt
[{"id":"d3b60112.2596f","type":"ui_slider","z":"6cde9436.aaddc4","group":"cdadffd4.8afe48","order":0,"width":0,"height":0,"name":"Red","label":"Red","topic":"red","min":0,"max":"255","x":138.5,"y":115.59999084472656,"wires":[["1fae9c4d.3a884c"]]},{"id":"1eb4444b.26cc0c","type":"ui_slider","z":"6cde9436.aaddc4","group":"cdadffd4.8afe48","order":0,"width":0,"height":0,"name":"Blue","label":"Blue","topic":"blue","min":0,"max":"255","x":135.5,"y":176,"wires":[["1fae9c4d.3a884c"]]},{"id":"a672a668.c0d198","type":"ui_slider","z":"6cde9436.aaddc4","group":"cdadffd4.8afe48","order":0,"width":0,"height":0,"name":"Green","label":"Green","topic":"green","min":0,"max":"255","x":136.5,"y":235.99996948242188,"wires":[["1fae9c4d.3a884c"]]},{"id":"c3908671.b48af","type":"ibmiot out","z":"6cde9436.aaddc4","authentication":"boundService","apiKey":"a3dde7d5.b1843","outputType":"cmd","deviceId":"Device01","deviceType":"iotsample-deviceType","eventCommandType":"execute","format":"json","data":"msg.payload","qos":0,"name":"Publish command to Watson IoT","service":"registered","x":709.449951171875,"y":341.9333190917969,"wires":[]},{"id":"1fae9c4d.3a884c","type":"function","z":"6cde9436.aaddc4","name":"Command payload","func":"var red = 0;\nvar blue = 0;\nvar green = 0;\n\nif(msg.topic == 'red') {\n    // get red from incoming message and\n    // other values from context\n    blue = context.get('blue')||0;\n    green = context.get('green')||0;\n    red = msg.payload;\n} else if(msg.topic == 'blue') {\n    // get blue from incoming message and\n    // other values from context\n    blue = msg.payload;\n    green = context.get('green')||0;\n    red = context.get('red')||0;\n} else {\n    // get green from incoming message and\n    // other values from context\n    green = msg.payload;\n    blue = context.get('blue')||0;\n    red = context.get('red')||0;\n}\n\ncontext.set('red',red);\ncontext.set('blue',blue);\ncontext.set('green',green);\n\n// Create MQTT message in JSON\nmsg = {\n payload: JSON.stringify({\n    \"action\":\"color\", \n    \"values\": \n    {\n        \"red\" : red,\n        \"blue\" : blue,\n        \"green\" : green\n    }\n })\n};\nreturn msg;\n\nreturn msg;","outputs":1,"noerr":0,"x":411.4499816894531,"y":180.81668090820312,"wires":[["c3908671.b48af","d89de858.1d354"]]},{"id":"64dac5ca.9382d4","type":"inject","z":"6cde9436.aaddc4","name":"Initiate Spin","topic":"","payload":"{\"action\":\"spin\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":175.44998168945312,"y":328.01666259765625,"wires":[["c3908671.b48af","d89de858.1d354"]]},{"id":"af302335.85d2e8","type":"inject","z":"6cde9436.aaddc4","name":"Initiate Roll","topic":"","payload":"{\"action\":\"roll\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":164.13333129882812,"y":414.1166687011719,"wires":[["c3908671.b48af","d89de858.1d354"]]},{"id":"d89de858.1d354","type":"debug","z":"6cde9436.aaddc4","name":"","active":true,"console":"false","complete":"payload","x":715.449951171875,"y":199.61666870117188,"wires":[]},{"id":"890750f1.b8c61","type":"comment","z":"6cde9436.aaddc4","name":"Slider nodes to increase or decrease RGB values","info":"","x":263.4499816894531,"y":73.5,"wires":[]},{"id":"6b034350.e4cf3c","type":"comment","z":"6cde9436.aaddc4","name":"Initiate Spin command","info":"","x":180.11666870117188,"y":292.1166687011719,"wires":[]},{"id":"5d61413d.52ec38","type":"comment","z":"6cde9436.aaddc4","name":"Initiate Roll command","info":"","x":175.11666870117188,"y":378.1166687011719,"wires":[]},{"id":"7ce9bb6b.a520c4","type":"comment","z":"6cde9436.aaddc4","name":"Output data to debug panel","info":"","x":726.11669921875,"y":159.11666870117188,"wires":[]},{"id":"81e894e4.b9f6b","type":"comment","z":"6cde9436.aaddc4","name":"Connect to Watson IoT and publish commands","info":"","x":699.11669921875,"y":304.1166687011719,"wires":[]},{"id":"cdadffd4.8afe48","type":"ui_group","z":"6cde9436.aaddc4","name":"Default","tab":"d9c63703.e2657","disp":true,"width":"6"},{"id":"a3dde7d5.b1843","type":"ibmiot","z":"6cde9436.aaddc4","name":"coi0nz","keepalive":"60","cleansession":true},{"id":"d9c63703.e2657","type":"ui_tab","z":"6cde9436.aaddc4","name":"Home","icon":"dashboard"}]