samples/BB-8-flows/command-flow.txt
[{"id":"160c5b3e.c6642d","type":"wiotp-credentials","z":"96cd5fdf.c5ce1","name":"Device01","org":"coi0nz","devType":"iotsample-deviceType","devId":"Device01"},{"id":"86124dff.490d3","type":"wiotp in","z":"96cd5fdf.c5ce1","authType":"d","deviceKey":"160c5b3e.c6642d","deviceType":"","deviceId":"","command":"+","commandType":"g","name":"Receive Commands from Watson IoT","x":219,"y":588,"wires":[["f4b5bb66.41f718"]]},{"id":"881b79c.b658908","type":"switch","z":"96cd5fdf.c5ce1","name":"Switch","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"spin","vt":"str"},{"t":"eq","v":"roll","vt":"str"},{"t":"eq","v":"color","vt":"str"}],"checkall":"false","outputs":3,"x":574,"y":576,"wires":[[],[],["74dcceb6.fa76c8"]]},{"id":"74dcceb6.fa76c8","type":"function","z":"96cd5fdf.c5ce1","name":"set RGB color","func":"var Cylon = context.global.cylon;\nCylon.robot({\n  work: function(my) {\n      bb8= context.global.bb8;\n      bb8.color({ red: msg.payload.values.red, green: msg.payload.values.green, blue: msg.payload.values.blue });\n  }\n}).start();\n","outputs":1,"noerr":0,"x":801,"y":589,"wires":[[]]},{"id":"f4b5bb66.41f718","type":"function","z":"96cd5fdf.c5ce1","name":"Extract payload","func":"var h = msg;\nif(h.payload.hasOwnProperty('d')) {\n    h.payload = h.payload.d;\n}\nreturn h;","outputs":1,"noerr":0,"x":413,"y":509.5,"wires":[["881b79c.b658908"]]},{"id":"977d69a1.e3d848","type":"comment","z":"96cd5fdf.c5ce1","name":"Command flow","info":"","x":156,"y":539.5,"wires":[]}]