samples/BB-8-flows/local-device-flow.txt
[{"id":"160c5b3e.c6642d","type":"wiotp-credentials","z":"96cd5fdf.c5ce1","name":"Device01","org":"coi0nz","devType":"iotsample-deviceType","devId":"Device01"},{"id":"75700ec0.72e19","type":"inject","z":"96cd5fdf.c5ce1","name":"Initiate","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":207.11666870117188,"y":78.11666870117188,"wires":[["e27fcaae.766a6"]]},{"id":"e27fcaae.766a6","type":"function","z":"96cd5fdf.c5ce1","name":"Connect to BB-8","func":"var Cylon = context.global.cylon;\nCylon.robot({\n  connections: {\n    bluetooth: { adaptor: \"central\", uuid: \"d9e1319ea372\", module: \"cylon-ble\"}\n  },\n  devices: {\n    bb8: { driver: \"bb8\", module: \"cylon-sphero-ble\"}\n  },\n  work: function(my) {\n    my.bb8.color({ red: 0, green: 255, blue: 0 });\n    context.global.bb8=my.bb8;\n    \n     my.bb8.on(\"collision\", function(data) {\n      context.global.bb8.data=data;\n      node.status({text:\"Collision detected\"});\n    });\n    my.bb8.detectCollisions();\n  }\n}).start();\nreturn msg;","outputs":1,"noerr":0,"x":464.11669921875,"y":79.11666870117188,"wires":[[]]},{"id":"37d0d2cc.d0b686","type":"comment","z":"96cd5fdf.c5ce1","name":"Connect to BB-8 flow","info":"","x":234,"y":42.5,"wires":[]},{"id":"7610dd41.49ad0c","type":"function","z":"96cd5fdf.c5ce1","name":"Start spinning","func":"var Cylon = context.global.cylon;\nCylon.robot({\n  work: function(my) {\n    bb8= context.global.bb8;\n    bb8.spin(\"left\", 200);\n  }\n}).start();\nvar msg;\nmsg.payload = \"hello\";\nreturn msg;","outputs":1,"noerr":0,"x":366,"y":265.1166687011719,"wires":[["c4189681.36a8"]]},{"id":"9ad6e555.0edca","type":"inject","z":"96cd5fdf.c5ce1","name":"Initiate","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":148,"y":269.1166687011719,"wires":[["7610dd41.49ad0c"]]},{"id":"c4189681.36a8","type":"delay","z":"96cd5fdf.c5ce1","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":556,"y":265.5,"wires":[["842f23ec.8d71d"]]},{"id":"842f23ec.8d71d","type":"function","z":"96cd5fdf.c5ce1","name":"Stop spinning","func":"var Cylon = context.global.cylon;\nCylon.robot({\n  work: function(my) {\n    bb8= context.global.bb8;\n    bb8.stop();\n  }\n}).start();","outputs":1,"noerr":0,"x":749,"y":320.5,"wires":[[]]},{"id":"81fc46e4.8b40d","type":"comment","z":"96cd5fdf.c5ce1","name":"Spin flow","info":"","x":135,"y":232,"wires":[]},{"id":"6a71905.90282f","type":"function","z":"96cd5fdf.c5ce1","name":"Start rolling","func":"var Cylon = context.global.cylon;\nCylon.robot({\n  work: function(my) {\n    bb8= context.global.bb8;\n    bb8.roll(100, 60);\n  }\n}).start();\nvar msg;\nmsg.payload = \"hello\";\nreturn msg;","outputs":1,"noerr":0,"x":337,"y":394,"wires":[["73c9c75e.17566"]]},{"id":"ffcc16be.d7cdb","type":"inject","z":"96cd5fdf.c5ce1","name":"Initiate","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":146,"y":395,"wires":[["6a71905.90282f"]]},{"id":"73c9c75e.17566","type":"delay","z":"96cd5fdf.c5ce1","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":546,"y":394,"wires":[["136ba129.ee8a9f"]]},{"id":"136ba129.ee8a9f","type":"function","z":"96cd5fdf.c5ce1","name":"Stop rolling","func":"var Cylon = context.global.cylon;\nCylon.robot({\n  work: function(my) {\n    bb8= context.global.bb8;\n    bb8.stop();\n  }\n}).start();","outputs":1,"noerr":0,"x":727,"y":438,"wires":[[]]},{"id":"4d35020d.72cff4","type":"comment","z":"96cd5fdf.c5ce1","name":"Roll flow","info":"","x":135,"y":357,"wires":[]},{"id":"45be411a.5ed188","type":"wiotp out","z":"96cd5fdf.c5ce1","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"160c5b3e.c6642d","deviceType":"","deviceId":"","event":"event","format":"json","name":"Send Events to Watson IoT","x":677,"y":761,"wires":[]},{"id":"5a1cc71.e5b88b8","type":"status","z":"96cd5fdf.c5ce1","name":"Collision event","scope":["e27fcaae.766a6"],"x":166,"y":714.5,"wires":[["2b5cd367.2a4984"]]},{"id":"2b5cd367.2a4984","type":"function","z":"96cd5fdf.c5ce1","name":"Get collision data","func":"var msg;\nmsg.payload = context.global.bb8.data;\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":715.5,"wires":[["45be411a.5ed188"]]},{"id":"dc394947.fb2e68","type":"comment","z":"96cd5fdf.c5ce1","name":"Even flow","info":"","x":147,"y":671,"wires":[]},{"id":"86124dff.490d3","type":"wiotp in","z":"96cd5fdf.c5ce1","authType":"d","deviceKey":"160c5b3e.c6642d","deviceType":"","deviceId":"","command":"+","commandType":"g","name":"Receive Commands from Watson IoT","x":219,"y":588,"wires":[["f4b5bb66.41f718"]]},{"id":"881b79c.b658908","type":"switch","z":"96cd5fdf.c5ce1","name":"Switch","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"spin","vt":"str"},{"t":"eq","v":"roll","vt":"str"},{"t":"eq","v":"color","vt":"str"}],"checkall":"false","outputs":3,"x":574,"y":576,"wires":[["7610dd41.49ad0c"],["6a71905.90282f"],["74dcceb6.fa76c8"]]},{"id":"74dcceb6.fa76c8","type":"function","z":"96cd5fdf.c5ce1","name":"set RGB color","func":"var Cylon = context.global.cylon;\nCylon.robot({\n  work: function(my) {\n      bb8= context.global.bb8;\n      bb8.color({ red: msg.payload.values.red, green: msg.payload.values.green, blue: msg.payload.values.blue });\n  }\n}).start();\n","outputs":1,"noerr":0,"x":801,"y":589,"wires":[[]]},{"id":"f4b5bb66.41f718","type":"function","z":"96cd5fdf.c5ce1","name":"Extract payload","func":"var h = msg;\nif(h.payload.hasOwnProperty('d')) {\n    h.payload = h.payload.d;\n}\nreturn h;","outputs":1,"noerr":0,"x":413,"y":509.5,"wires":[["881b79c.b658908"]]},{"id":"977d69a1.e3d848","type":"comment","z":"96cd5fdf.c5ce1","name":"Command flow","info":"","x":156,"y":539.5,"wires":[]}]