samples/BB-8-flows/roll-flow.txt
[{"id":"ab8c5b5e.f2dc4","type":"function","z":"96cd5fdf.c5ce1","name":"Start rolling","func":"var Cylon = context.global.cylon;\nCylon.robot({\n  work: function(my) {\n    bb8= context.global.bb8;\n    bb8.roll(100, 60);\n  }\n}).start();\nvar msg;\nmsg.payload = \"hello\";\nreturn msg;","outputs":1,"noerr":0,"x":393,"y":963.5,"wires":[["bad03c54.8292a8"]]},{"id":"b354fef7.affe78","type":"inject","z":"96cd5fdf.c5ce1","name":"Initiate","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":217,"y":962.5,"wires":[["ab8c5b5e.f2dc4"]]},{"id":"bad03c54.8292a8","type":"delay","z":"96cd5fdf.c5ce1","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":562,"y":964.5,"wires":[["fb3dcece.3f10c"]]},{"id":"fb3dcece.3f10c","type":"function","z":"96cd5fdf.c5ce1","name":"Stop rolling","func":"var Cylon = context.global.cylon;\nCylon.robot({\n  work: function(my) {\n    bb8= context.global.bb8;\n    bb8.stop();\n  }\n}).start();","outputs":1,"noerr":0,"x":721,"y":1001.5,"wires":[[]]},{"id":"689a0a6b.b1d1bc","type":"comment","z":"96cd5fdf.c5ce1","name":"Roll flow","info":"","x":206,"y":924.5,"wires":[]}]