samples/BB-8-flows/send-collision-event-flow.txt
[{"id":"160c5b3e.c6642d","type":"wiotp-credentials","z":"96cd5fdf.c5ce1","name":"Device01","org":"coi0nz","devType":"iotsample-deviceType","devId":"Device01"},{"id":"35f49cd7.9de764","type":"wiotp out","z":"96cd5fdf.c5ce1","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"160c5b3e.c6642d","deviceType":"","deviceId":"","event":"event","format":"json","name":"Send Events to Watson IoT","x":730,"y":596,"wires":[]},{"id":"ed1c7c64.a5d5f8","type":"status","z":"96cd5fdf.c5ce1","name":"Collision event","scope":["e27fcaae.766a6"],"x":219,"y":549.5,"wires":[["ea0d617c.3051f"]]},{"id":"ea0d617c.3051f","type":"function","z":"96cd5fdf.c5ce1","name":"Get collision data","func":"var msg;\nmsg.payload = context.global.bb8.data;\nreturn msg;","outputs":1,"noerr":0,"x":437,"y":550.5,"wires":[["35f49cd7.9de764"]]},{"id":"5e99432d.c1def4","type":"comment","z":"96cd5fdf.c5ce1","name":"Even flow","info":"","x":200,"y":506,"wires":[]}]