samples/BB-8-flows/spin-flow.txt
[{"id":"aedc41aa.60cdc8","type":"function","z":"96cd5fdf.c5ce1","name":"Start spinning","func":"var Cylon = context.global.cylon;\nCylon.robot({\n  work: function(my) {\n    bb8= context.global.bb8;\n    bb8.spin(\"left\", 200);\n  }\n}).start();\nvar msg;\nmsg.payload = \"hello\";\nreturn msg;","outputs":1,"noerr":0,"x":421,"y":1003,"wires":[["d0b4bd0f.f4611"]]},{"id":"31add85c.8f4d88","type":"inject","z":"96cd5fdf.c5ce1","name":"Initiate","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":246,"y":1006,"wires":[["aedc41aa.60cdc8"]]},{"id":"d0b4bd0f.f4611","type":"delay","z":"96cd5fdf.c5ce1","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":611,"y":1003.3833312988281,"wires":[["f3e471eb.058fb"]]},{"id":"f3e471eb.058fb","type":"function","z":"96cd5fdf.c5ce1","name":"Stop spinning","func":"var Cylon = context.global.cylon;\nCylon.robot({\n  work: function(my) {\n    bb8= context.global.bb8;\n    bb8.stop();\n  }\n}).start();","outputs":1,"noerr":0,"x":804,"y":1058.3833312988281,"wires":[[]]},{"id":"ac3a4aa2.f5222","type":"comment","z":"96cd5fdf.c5ce1","name":"Spin flow","info":"","x":238,"y":963.8833312988281,"wires":[]}]