examples/Pi Cpu Temperature.json
[{"id":"59ecedd0.936224","type":"inject","z":"8fe6be8a.15091","name":"tick 15","topic":"tempC","payload":"","payloadType":"str","repeat":"15","crontab":"","once":false,"x":140,"y":260,"wires":[["724aea96.aeb134"]]},{"id":"724aea96.aeb134","type":"exec","z":"8fe6be8a.15091","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"read cpu temperature","x":240,"y":340,"wires":[["9046dea.c14642","fcc28386.1ce4d"],[],[]]},{"id":"9046dea.c14642","type":"function","z":"8fe6be8a.15091","name":"format temperature","func":"msg.payload = Number(msg.payload.slice(5,-3));\nmsg.payload = {cpuTempC:msg.payload}\nreturn msg;","outputs":"1","noerr":0,"x":390,"y":260,"wires":[["6ea0f73c.8091e8"]]},{"id":"6ea0f73c.8091e8","type":"wiotp out","z":"8fe6be8a.15091","authType":"d","qs":"true","qsDeviceId":"6ea0f73c.8091e8","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","name":"","x":570,"y":320,"wires":[]}]
